/* ===== ESTILOS GENERALES ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: #fef8f2;
    color: #5a3e36;
}

/* ===== BANNER ===== */
.top-banner {
    background-color: #e8d8c3;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
}

/* ===== NAV ===== */
.nav-principal {
    background-color: #a9745b;
    padding: 15px 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    text-align: center;
    font-size: 36px;
    color: #5a3e36;
    margin-bottom: 10px;
}

.nav-lista {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-lista a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-lista a:hover {
    color: #f5f1ea;
}

/* ===== MAIN ===== */
main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

/* ===== TEXTOS ===== */
h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px;
    color: #7b5e57;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

/* ===== CATÁLOGO CON GRID ===== */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ===== TARJETAS ===== */
.producto-tarjeta {
    background-color: #f5f1ea;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform .2s ease, box-shadow .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Para el badge */
}

.producto-tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* ===== BADGE ===== */
.producto-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #a9745b;
    color: #f5f1ea;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}

/* ===== IMÁGENES ===== */
.producto-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

/* ===== TÍTULOS ===== */
.producto-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #5a3e36;
    margin-top: 10px;
}

/* ===== DESCRIPCIÓN ===== */
.producto-desc {
    font-size: 14px;
    color: #7b5e57;
    margin-bottom: 10px;
}

/* ===== PRECIO ===== */
.producto-precio {
    font-weight: bold;
    margin-bottom: 10px;
}

/* ===== BOTONES ===== */
.producto-btn {
    background-color: #a9745b;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
}

.producto-btn:hover {
    background-color: #5a3e36;
}


/* ===== SECCIÓN EQUIPO ===== */

.equipo-section{
    text-align:center;
    padding:40px 25px;
}

.equipo-section p{
    max-width: 700px;
    margin: 0 auto 20px;
}

.equipo-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.equipo-card {
    background-color: #fdf5e6;
    width: 280px;
    padding: 60px 20px 30px; /* espacio extra para la foto */
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
    text-align: center;  /*Flex interno*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.equipo-foto {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-card h3 {
    margin-top: 15px;
    color: #5a3e36;
    font-size: 20px;
}

.equipo-rol {
    font-size: 14px;
    color: #7b5e57;
    margin: 10px;
}

.equipo-desc {
    font-size: 14px;
    color: #a0806a;
    line-height: 1.7;
}



/* ===== FORMULARIO ===== */
.form-contacto input,
.form-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* ===== BOTÓN FLOTANTE ===== */
.boton-carrito {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #f5f1ea;
    color: #5a3e36;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    z-index: 1500;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.boton-carrito:hover {
    background-color: #a9745b;

}


/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: #e8d8c3;
}


/* === DISEÑO RESPONSIVO === */

/* == TABLET == */
@media screen and (max-width: 1024px){

    .logo{
        font-size: 24px;
        
    }

    .nav-lista{
        flex-wrap: wrap;
        gap: 10px;
    }

    .producto-img{
        height: 220px;
    }

    .equipo-card{
        width: 260px;
    }
}


/* == MÓVIL == */
@media screen and (max-width: 600px){

    /* NAV */
    .nav-principal{
        padding: 10px;
        gap: 12px;
    }

    .logo{
        font-size: 20px;
        text-align: center;
        width: 100%
    }

    .nav-lista{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    /* CATÁLOGO */
    .producto-img{
        height: 180px;
    }

    .producto-btn{
        width: 100%;
    }

    /* EQUIPO */
    .equipo-contenedor{
        margin-top: 40px;
    }

    .equipo-card{
        width: 100%;
        max-width: 320px;
    }

    /* BOTÓN FLOTANTE */
    .boton-carrito{
        bottom: 15px;
        right: 15px;
        padding: 10px 16px;
        font-size: 14px;
    }
}
